[submodule "addons/sustainability-odoo"]
	path = addons/sustainability-odoo
	url = git@github.com:ERPM-BV/sustainability-odoo.git
	branch = 18.0
[submodule "addons/sustainability-enterprise"]
	path = addons/sustainability-enterprise
	url = git@github.com:ERPM-BV/sustainability-odoo-enterprise.git
	branch = 18.0
[submodule "addons/mis-builder"]
	path = addons/mis-builder
	url = git@github.com:OCA/mis-builder.git
	branch = 18.0
[submodule "addons/reporting-engine"]
	path = addons/reporting-engine
	url = git@github.com:OCA/reporting-engine.git
	branch = 18.0
[submodule "addons/server-ux"]
	path = addons/server-ux
	url = git@github.com:OCA/server-ux.git
	branch = 18.0
[submodule "addons/web"]
	path = addons/web
	url = git@github.com:OCA/web.git
	branch = 18.0
